html, body {
    margin: auto;
    font-family: Arial;
    font-style: normal;
    overflow-x: hidden;
    height: 100vh;
}
header {
    height: 30vh;
}

.first_div {
    height: 100vh;
    position: absolute;
    left: 0px;
    width: 680px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

.img {
    position: absolute;
    width: 1240px;
    height: 100vh;
    left: 680px;
    top: 0px;
    background-image: url("image/image_summer.jpg");
}

/* HEADER PART CSS */

.flex {
    display: flex;
    flex-direction: row;
}

.header_div {
    width: 280px;
}

.alogo {
    text-decoration: none;
}

.logo {
    margin-top: 100px;
    margin-left: 100px;
}

.pineapple {
    position: absolute;
    padding-left: 15px;
    margin-top: 120px;
}

.first_a {
    margin-left: 36px;
}

.anone {
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    color: #6A707B;
    line-height: 26px;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 114px;
}

.header_nav {
    width: 400px;
    display: inline-block;
}

/* MAIN PART CSS*/

h1 {
    position: absolute;
    top: 374px;
    margin-left: 140px;
    width: 400px;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    position: absolute;
    top: 433px;
    left: 140px;
    color: #6A707B;
    width: 400px;
    margin-top: 0;
    margin-bottom: 0;
}

.vline {    
    position: absolute;
    width: 4px;
    height: 70px;
    left: 100px;
    top: 539px;
    background: #4066A5;
    z-index: 7;
    margin: 0;
    border: none;
}

.inputfield {
    position: absolute;
    top: 539px;
    left: 100px;
    width: 663px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    border-right: none;
    padding: 23px 0 23px 44px;
    color: #6A707B;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    z-index: 4;
}

.button {
    position: absolute;
    top: 540px;
    left: 681px;
    height: 68px;
    width: 81px;
    z-index: 5;
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    border-left: none;
}

.button_img {
    position: absolute;
    opacity: 0.3;
    z-index: 3;
    top: 28px;
    right: 40px;
}

.checkbox {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 140px;
    top: 663px;
    margin: 0;
    background: #4066A5;
    border-radius: 3px;
}

.label_checkbox {
    position: absolute;
    color: #6A707B;
    width: 359px;
    height: 28px;
    left: 181px;
    top: 662px;    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.label_a {
    color: #131821;
}

.hline {
    position: absolute;
    width: 400px;
    height: 1px;
    left: 140px;
    top: 740px;
    background: #E3E3E4;
}

/* FOOTER PART CSS*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 48px;
    position: absolute;
    top: 791px;
}



.social a {
    width: 46px;
    height: 46px;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #E3E3E4;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    line-height: 42px;
    color: #131821;
    opacity: 0.3;
}

/* ANIMATION PART */


.focus_input:focus {
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    outline: none;
}

.hover_input:hover input {
    background: #FFFFFF;
    border: 1px solid #4066A5;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

.afacebook:hover {
    background: #4267B2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #4267B2;
    color: #FFFFFF;
    opacity: 1;
}

.afacebook:active {
    background: #2F4A80;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #2F4A80;
    color: #FFFFFF;
    opacity: 1;
}

.ainstagram:hover {

    background: #C13584;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #C13584;
    color: #FFFFFF;
    opacity: 1;
}

.ainstagram:active {
    background: #8F2762;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #8F2762;
    color: #FFFFFF;
    opacity: 1;
}

.atwitter:hover {
    background: #1DA1F2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #1DA1F2;
    color: #FFFFFF;
    opacity: 1;
}

.atwitter:active {
    background: #177FBF;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #177FBF;
    color: #FFFFFF;
    opacity: 1;
}

.ayoutube:hover {
    background: #FF0000;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #FF0000;
    color: #FFFFFF;
    opacity: 1;
}

.ayoutube:active {
    background: #CC0000;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    border-color: #CC0000;
    color: #FFFFFF;
    opacity: 1;
}

/* MOBILE VERSION*/

@media only screen and (max-width: 375px) {
    .none {
        display: none;
    }

    body, html {
        width: 375px;
        height: 100vh;
    }

    .first_div {
        width: 375px;
        height: 100vh;
    }

    /* HEADER PART */

    .header {
        width: 375px;
        height: 66px;
        background: #FFFFFF;
    }

    .header_div {
        width: 50px;
    }

    .header_nav {
        width: 325px;
    }

    .logo {
        position: absolute;
        width: 25px;
        height: 40px;
        left: 20px;
        top: 10px;
        margin: 0;
    }

    .first_a {
        margin-left: 99px;
    }

    .anone {
        font-size: 14px;
        line-height: 24px;
        padding-right: 20px;
        padding-left: 0;
        margin-top: 21px;
    }

    /* BACKGROUND IMAGE */

    .img {
        position: absolute;
        width: 1119px;
        height: 746px;
        left: -281px;
        top: 66px;
    }

    /* MIDDLE DIVISION*/

    .mobdiv {
        position: absolute;
        width: 335px;
        height: 371px;
        left: 20px;
        top: 254px;
        z-index: 10;
        background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    }

    h1 {
        width: 295px;
        height: 34px;
        left: 20px;
        top: 30px;
        margin-left: 0;
        font-family: Georgia;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #131821;
    }

    h4 {
        width: 295px;
        height: 52px;
        left: 20px;
        top: 74px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
    }

    .inputfield {
        width: 295px;
        height: 60px;
        left: 20px;
        top: 146px;
        padding: 18px 0 18px 19px;
        border: 1px solid #E3E3E4;
    }

    .vline {
        width: 4px;
        height: 60px;
        left: 20px;
        top: 146px;
    }

    .button {
        width: 24px;
        height: 14px;
        left: 276px;
        top: 169px;
        border: none;
    }

    .button_img {
        top: 0;
        right: 0;
        color: #131821;
        opacity: 1;
    }

    .checkbox {
        width: 26px;
        height: 26px;
        left: 20px;
        top: 227px;
    }

    .label_checkbox {
        width: 254px;
        height: 28px;
        left: 61px;
        top: 226px;
    }
    .hline {
        width: 295px;
        height: 1px;
        left: 20px;
        top: 274px;
    }

    .social {
        width: 46px;
        height: 46px;
        top: 295px;
        width: 214px;
        margin-left: 53px;
        
    }

    .social a {
        margin: 0 5px;
    }    
}


